body {
	background-color: #6BA2E9; 
}
 

p {
	font: italic small-caps bold 16px/2 cursive;
}
	
h2 {
	border: solid gold;
	font-family: "Fira Sans"; 
	font-size: 12
}  

img { 
	width: 300px; 
	border: 2px solid firebrick
} 

li { font-weight: lighter 
} 
	