body {
	background-color: #f8f1f1; 
}
	
p {
	font: italic small-caps bold 16px/2 cursive;
	color: #709fb0;
}
	
h1 {
	font-family: cursive; 
	font-size: 18;
}  

img { 
	border: 2px solid firebrick;
	max-height: 700px;
	max-width: 550px;
}
div { 
    font-family: cursive; 
    font-size: 24px; 
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

figcaption {
	font-style: italic; 
	text-align: center; 
	padding: 4px;
} 

nav {
    border-bottom: 2px solid #ffab73;
}

.bar ol { 
	list-style-type: none;
	padding-left: 0;
} 

.fig { 
	display: inline-block;
}

.fig a::after {
    display: inline-block;
    content: '';
    padding: 0 3px;
}

li a {
  display: block;
  padding: 8px;
} 
